
.header-box {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-box__div i {
    margin-left: 25px;
}

.header-box__div > span {
    font-size: 30px;
    font-weight: 600;
}