
.user-box {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.user-box_div {
    display: flex;
    align-items: center;
}

.user-box_div i {
    font-size: 35px;
    color: rgb(187, 224, 226);
    background-color: rgb(100, 200, 240);
    padding: 20px;
    border-radius: 25px;
}

.user-box_div-2_div_text-1 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 14px;
}

.user-box_div-2 > i {
    color: white;
    background-color: tomato;
    padding: 15px;
}

.user-box_div-2_div {
 display: flex;
 flex-direction: column;
}

.user-box_div-2_div_text-2 {
    padding: 0 14px;
    margin-top: 5px;
    color: rgba(0,0,0,0.4);
    font-size: 14px;
}